@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/CenturyGothic.woff2') format('woff2'), url('fonts/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Century Gothic';
    -webkit-font-smoothing: antialiased;
}
