@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/CenturyGothic.woff2') format('woff2'), url('fonts/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Century Gothic';
    -webkit-font-smoothing: antialiased;
}
.np {
    padding-left: 0;
    padding-right: 0
}
.logo-section {
    padding: 25px 0;
}
.menu-section {
    padding: 30px 0;
}
.menu-section ul {
    margin: 0;
}
.menu-section li {
    display: inline-block;
    text-decoration: none;
    padding-right: 15px;
}
.menu-section li a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    height: auto;
}
.menu-section li a.selected-link {
    color: #b40d0d
}
.carousel-indicators {
    display: none;
}
.chennai-arts-home-contents h2 {
    margin-top: 34px;
    margin-bottom: 20px;
}
.chennai-arts-home-contents p {
    margin-bottom: 5px;
}
.nav-menu>li:hover>a, .nav-menu>li.active>a, .nav-menu>li.focus>a {
    color: #b40d0d;
    border-bottom: #b40d0d 2px solid;
}
.nav-toggle {
    margin-top: 5px;
}